/* Global legacy stylsheet for La Trobe templates v2 & previous */          
/* Last edit: January 30, 2008 */

/***********************************************/
/* Mark II templates layout and styles         */
/***********************************************/

/* banner */
table#header { width: 100%; margin: 0 0 3px 0; }
#header h1, #banner h1 { margin: 0; font-size: 180%; font-weight: normal; padding: 0 0 0 15px; }

/* left column - main navigation and contact details */
#navBar { padding: 0; margin: 20px 7px 0 10px; }
#navBar h2, #navBar h3, #navBar h4, #navBar h5 { margin-top: 1em; margin-bottom: 0.4em; font: bold 100% Verdana, Arial, Helvetica, sans-serif; }
#navBar ul { margin: 0; padding: 0; list-style: none; line-height: 1.2em; }
#navBar li { background: url(../images/devices/arrow_greydark.gif) no-repeat 0em .2em; padding: 0 0 0.3em 0.9em; color: #999; font-weight: bold; }
#navBar a:link, #navBar a:visited { color: #DB0000; text-decoration: underline; }
#navBar a:hover { color: #000; text-decoration: none; }
#navBar p { color: #666; font-size: 90%; margin: 2em 0 1em 0; font-weight: normal; }
#navBar p a:link, #navBar p a:visited { font-weight: normal; text-decoration: underline;}
#navBar p a:hover { color: #000; text-decoration: none; }

/* right column */
#rightCol { line-height: 1.2em; }
#rightCol img { margin: 0; border: 0; }
#rightCol img.logo { margin: 17px 0 0 0; }
#rightCol a:link { color: #333; text-decoration: underline; }
#rightCol a:visited { color: #993366; }	
#rightCol a:hover { color: #DB0000; text-decoration: none; }
#rightCol a:active { color: #DB0000; }

#rightCol h4, #rightCol h5 { color: #333; margin: 1px; padding: 0.2em 0.2em 0.2em 0.4em; font: bold 100% Verdana, Arial, Helvetica, sans-serif; background: #ccc; }
.relatedLinks, #askLTU, #relatedLinksProfile { border: 1px solid #ccc; margin: 20px 1.5em 0.15em 0; }
.relatedLinks ul { margin: 0 0.6em 0 0; padding: 0.2em 0.2em 0.3em 1.8em; line-height: 1.2em; }
.relatedLinks li { list-style-type: square; padding: 0 0 0.3em 0; }
#askLTU ul { margin: 0; padding: 0.3em 0 0.3em 0.3em; }
#askLTU ul li { list-style: none; background: url(../images/devices/question_mark.gif) no-repeat 0 0; padding: 0 0 0.3em 0.9em; }
.relatedLinks p { margin: 0; padding: 0.6em;} 
.relatedLinks form { margin: 0.4em 0.2em 0.5em 0.4em; }
.relatedLinks form .button { margin-top: 0.4em; }
.relatedLinks .fieldcellInput, .relatedLinks .button { font-size: 90%; }

#relatedLinksProfile { background-color: #f9f9f9; font-size: 95%; }
#relatedLinksProfile img { margin: 0.6em; padding: 0; border: 1px solid #ccc; }
#relatedLinksProfile p { margin: 0; padding: 0.6em; font-size: 100%; }
#relatedLinksProfile .person { line-height: 1.2; text-align: left; }
#relatedLinksProfile .name { font-weight: bold; }

/*********** mainContent area ***********/

#dottedLine { background-image: url(../images/devices/line_dotted_v.gif) }
table#contentArea { width: 100%; }

/* page footer */
#TextFootNotes { clear: left; font-size: 90%; color: #666; line-height: 1.2em; padding-top: 2em; padding-bottom: 2em; margin-bottom: 3em; }

/* content */
#mainContent { padding: 17px 22px 0 16px; }
#mainContent h2#titleCorporate { margin-bottom: 1em; font: bold 145% Verdana, Arial, Helvetica, sans-serif; }
#mainContent h2#titleCorporateGrey { color: #999; margin-bottom: 0.1em; font: bold 145% Verdana, Arial, Helvetica, sans-serif; }

#mainContent a:link { color: #333; text-decoration: underline; }
#mainContent a:visited { color: #993366; }
#mainContent a:hover { color: #DB0000; text-decoration: none;}
#mainContent p.subHeading { margin-top: 0; margin-bottom: 0.6em; }

/* vcard */
#mainContent .vcard .tel .type { display: none; }
#mainContent p.n { font-weight: bold; margin: 0; padding: 0; }
#mainContent .adr { padding: 0; background-color: #FFFFFF!important; border: 0!important; }
#mainContent ul.tel { list-style: none; padding: 0; margin: 0.5em 0 0 0; }
#mainContent ul.tel li { padding: 0; }

/*
Content area entry points - two choices available 
--------------------- */
#entryPoints { width: 100%; padding: 0; margin: 1.5em 0; border-bottom: 1px dotted #999; }
#entryPoints h3, #entryPoints h4, #entryPoints h5 { margin: 0; padding: 0; font-size: 100%; }
.entryPoint { border-top: 1px dotted #999; padding: 15px 0; min-height: 75px; }
.entryPoint img { float: left; padding: 3px; border: 1px solid #999; margin: 2px 14px 0 0; width: 60px; height: 60px; }
.entryPoint p { margin: 0; padding: 0.7em 0 0 0; }
ul.entryPointList { list-style: square; margin: 0 0 0 6em; padding-top: 0.7em; padding-bottom: 0; }

/* decal */
#decal { margin-top: 20px; }
#decal img { border: 0; }
#decal a:link { display: block; width: 140px; border: 1px solid #fff; }
#decal a:visited { border: 1px solid #fff; }
#decal a:hover, #decal a:active { border: 1px solid #ccc; }

/* div styles */
div.event { font-family: Verdana, Arial, Helvetica, sans-serif; padding: 0 0 0 10px; margin: 0 0 1em; border-left: thick solid #eee; }

/* feature */
div.feature { background-color: #f2f2f2; padding: 1em 1em 0.7em 1em; margin: 1.2em 0; }
div.feature h3 { padding: 0; margin: 0 0 0.5em 0; }
div.feature h4, div.feature h5 { padding: 0; margin: 0 0 0.3em 0; }
div.feature p { margin: 0 0 1.2em 0; }
div.feature ul ul { margin: 0.2em 0 0 0.3em; }

#jumpMenu { background-color: #f2f2f2; padding: 0.4em 0.4em 0.6em 0.6em; width: 320px; margin: 1em 0 1.5em 0; }
#jumpMenu h5 { font-size: 100%; border-bottom: 1px dotted #333; margin: 0 0 0.8em 0; padding-bottom: 0.3em; }
#jumpMenu form { margin: 0; }

div.thumbnailFeatures { width: 99%; background-color: #f2f2f2; margin: 0 0 1em 0; text-align: left; padding: 0; overflow: hidden; }
div.thumbnailFeatures h4, div.thumbnailFeatures h5 { color: #333; background-color: #CCC; padding: 0.4em 0 0.6em 1em; margin: 0; text-align: left; }
.thumbnailFeatures .features { padding: 10px 10px 5px 10px; margin: 0; }
.thumbnailFeatures img { border: 1px solid #666; float: left; padding: 3px; border: 1px solid #999999; margin: 2px 10px 15px 4px; }
.thumbnailFeatures p { margin: 0; padding: 0; }
.thumbnailFeatures a { font-weight: bold; }

div.whatsNew { width: 99%; background-color: #f2f2f2; margin: 0.3em 0 1.5em 0; text-align: left; padding: 0; overflow: hidden; }
div.whatsNew h3, div.whatsNew h4, div.whatsNew h5 { font-size: 100%; color: #333; background-color: #ccc; padding: 0.4em 0 0.4em 1em; margin: 0; text-align: left; }
.whatsNew img { float: left; border: 0; margin: 12px 15px 0 14px; padding: 0 15px 12px 0; }
.whatsNew ul { list-style-type: square; margin: 0 1em 0 0.8em; padding-top: 1em; padding-bottom: 0.8em; }
.whatsNew ul li a:link { color: #333; background-color: transparent; padding-bottom: 0.5em; text-decoration: underline; }
.whatsNew ul li a:visited {color: #993366;}
.whatsNew ul ul li a:hover { color: #DB0000; text-decoration: none; }

/* misc styles */
.greyText {color: #666;}

.topLink { font-size: 90%; text-align: right; }
.topLink a { background: url(../images/devices/arrow_up.gif) no-repeat left; padding-left: 15px; }

.hidden { visibility: hidden; }

.displayNone { display: none; }

.structurelabel { position: absolute; left: -5000px; width: 4000px; overflow: hidden; }

#printlogo { display: none; }

.paragraphPadding { padding: 0 35px; }

/*********** table styles ***********/

/* id and class general */
table#general, table.general { width: 97%; border-collapse: collapse; background-color: #fff; border-right: 1px #ccc solid; color: #333; margin-top: 0.8em; margin-bottom: 1.6em; line-height: 1.4em; }
table#general caption, table.general caption { text-align: left; font: bold 100% Verdana, Arial, Helvetica, sans-serif; padding: 0 0 0.5em 0; margin: 0; }
table#general th, table.general th { font: bold 95% Verdana, Arial, Helvetica, sans-serif; background-color: #f2f2f2; border-left: 1px #ccc solid; border-top: 1px #ccc solid; border-bottom: 1px #ccc solid; padding: 4px; text-align: left; vertical-align: top; }
table#general td, table.general td { font: normal 95% Verdana, Arial, Helvetica, sans-serif; border-left: 1px #ccc solid; border-bottom: 1px #ccc solid; text-align: left; padding: 4px; vertical-align: top; }

/* id greyBgnd */
table#greyBgnd { width: 98%; background-color: #f2f2f2; border-spacing: 0; margin-top: 0.5em; margin-bottom: 1em; padding: 0 0.5em 0.8em 0.5em; }
table#greyBgnd caption { font: bold 110% Verdana, Arial, Helvetica, sans-serif; color: #333; padding: 3px 0 0 0; margin: 0; text-align: left; width: inherit; }
table#greyBgnd td { text-align: left; font: normal 97% Verdana, Arial, Helvetica, sans-serif; padding: 4px 0 4px 8px; vertical-align: top; width: 50%; }
table#greyBgnd h5 { margin: 0; padding: 1em 0 0.6em 0.3em; }
table#greyBgnd h5.first { margin: 0; padding: 0.5em 0 0.6em 0.3em; }
table#greyBgnd ul { margin: 0; padding: 0 10px 0 18px; line-height: 130%; }
table#greyBgnd ul li { padding-bottom: 0.4em; list-style: square; }

/* id profiles */
table#profiles { width: 100%; background-color: #f2f2f2; margin-top: 1.5em; margin-bottom: 1em; }
table#profiles th { color: #333; background-color: #CCC; padding: 3px 0 3px 9px; margin: 0; text-align: left; }
table#profiles caption { font: bold 100% Verdana, Arial, Helvetica, sans-serif; color: #333; padding: 3px 0 6px 0; margin: 0; text-align: left; width: inherit; }
table#profiles td { padding: 10px 5px 10px 9px; width: 50%; vertical-align: top; }
table#profiles td img { float: left; border: 0; margin: 0 10px 0 0; }

/* id whatsNew - superseeded by div class whatsNew */
table#whatsNew { width: 98%; font: normal 100% Verdana, Arial, Helvetica, sans-serif; background-color: #f2f2f2; margin-top: 0.5em; margin-bottom: 1.5em; }
table#whatsNew th { color: #333; background-color: #CCC; padding: 0.4em 0 0.4em 1em; margin: 0; text-align: left; }
table#whatsNew td { padding: 0.7em 1em 0 1em; vertical-align: top; text-align: left; }
table#whatsNew img {border: 0;}
table#whatsNew ul {list-style-type: square;}
table#whatsNew ul li { color: #333; background-color: transparent; padding-bottom: 0.5em; }
table#whatsNew li a { color: #333; background-color: transparent; text-decoration: underline; }
table#whatsNew ul li a:hover { color: #DB0000; text-decoration: none; }
table#whatsNew ul li a:visited {color: #993366;}

/* id imageTable - to be deleted, currently used by Humanities */
table#imageTable { width: 98%; background-color: #f2f2f2; margin-top: 0.5em; margin-bottom: 1em; }
table#imageTable th { color: #333; background-color: #CCC; padding: 0.4em 0 0.4em 1em; margin: 0; text-align: left; }
table#imageTable td.left { padding: 10px; width: 170px; text-align: left; vertical-align: top; }
table#imageTable td.right { padding: 10px 10px 10px 0; text-align: left; vertical-align: top; }
table#imageTable ul { margin: 0; padding: 0; list-style-type: square; }
table#imageTable h5 { margin: 0; padding: 0; }
table#imageTable ul li { color: #333; background-color: transparent; padding-bottom: 0.5em; }
table#imageTable li a { color: #333; background-color: transparent; text-decoration: underline;	}
table#imageTable ul li a:hover { color: #DB0000; text-decoration: none;}
table#imageTable ul li a:visited {color: #993366;}

/* misc table related styles */
.greyTableBgnd {background-color: #f2f2f2;}
.tableFooter { font-size: 85%; margin-top: 0; }

/*****************************************************************/
/* Mark II v1 styles - superseded by Mark II v2 styles above     */
/*****************************************************************/

/* #leftColumn */
#leftColumn table { width: 135px; margin-bottom: 15px; }
#leftColumn table tr { vertical-align: top; text-align: left; }
#leftColumn h5 { font-size: 11px; margin-bottom: 0; }

#mainNav a:link { color: #DB0000; font: bold 75% Verdana, Arial, Helvetica, sans-serif; }
#mainNav a:visited { color: #DB0000; font: bold 75% Verdana, Arial, Helvetica, sans-serif; }
#mainNav a:hover { color: #000000; font: bold 75% Verdana, Arial, Helvetica, sans-serif; }
#mainNav a:active { color: #DB0000; font: bold 75% Verdana, Arial, Helvetica, sans-serif; }

#contactInfo { color: #666; font-size: 70%; line-height: 1.3em; font-family: Verdana, Arial, Helvetica, sans-serif; }

/* #relatedLinks */
#relatedLinks table tr {vertical-align: top;}
#relatedLinks h5 { font: bold 73% Verdana, Arial, Helvetica, sans-serif; margin-bottom: 0; }
#relatedLinks a:link { color: #DB0000; font: normal 70% Verdana, Arial, Helvetica, sans-serif; }
#relatedLinks a:visited { color: #DB0000; font: normal 70% Verdana, Arial, Helvetica, sans-serif; }
#relatedLinks a:hover { color: #000000; font: normal 70% Verdana, Arial, Helvetica, sans-serif; }
#relatedLinks a:active { color: #DB0000; font: normal 70% Verdana, Arial, Helvetica, sans-serif; }

/***********************************************/
/* pre 2004 templates                          */
/***********************************************/

body { background: White; }

.LinkRedSmall { color: #DB0000; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 11px; }
.LinkRedSmall:hover { color: #000000; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 11px; }
.LinkRedSmallBold { color: #DB0000!important; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 11px!important; font-weight: bold!important; }
.LinkRedSmallBold:hover { color: #000000; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 11px; font-weight: bold; }

.LinkRedMedium { color: #DB0000; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 13px; }
.LinkRedMedium:hover { color: #000000; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 13px; }

.LinkBlackSmallBold { color: #000000; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 11px ; font-weight: bold; }
.LinkBlackSmallBold:hover 	{ color: #666666; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 11px ; font-weight: bold; }

.LinkWhiteSmall { color: #FFFFFF; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 11px; }
.LinkCopyright { color: #000000; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 10px ; font-style: italic; }
.LinkCopyright:hover { color: #666666; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 10px ; font-style: italic; }
.LinkWhiteSmall:hover { color: #000000; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 10px; }

.TextLightGreySmall { color: #CCCCCC; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 11px; }
.TextLightGreySmallBold { color: #CCCCCC; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 11px ; font-weight: bold; }

.TextMidGreySmall { color: #666666; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 11px}
.TextMidGreySmallBold { color: #666666; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 11px ; font-weight: bold; }

.TextDarkGreySmall { color: #333333; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 11px!important; }
.TextDarkGreySmall:hover { color: #000000; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 11px!important; }

.TextDarkGreySmallBold { color: #333333; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 11px; font-weight: bold}

.TextDarkGreyMedium { color: #333333; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 13px}
.TextDarkGreyMediumBold { color: #333333; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 13px ; font-weight: bold}

.TextFootNotes { color: #666666; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 10px ; font-style: italic}

.TitlesCorporate {  color: #DB0000; font-family: Verdana, Arial, Geneva, Tahoma; font-size: 17px; font-weight: bold; text-decoration: none}
.TitlesCorporateGrey { color: #999!important; font-family: Verdana, Arial, Geneva, Tahoma; font-size: 17px; font-weight: bold; text-decoration: none }

.TitlesHealthScience { color: #930079; font-family: Verdana, Arial, Geneva, Tahoma; font-size: 17px; font-weight: bold; text-decoration: none}
.TitlesSchitech { color: #014FBE; font-family: Verdana, Arial, Geneva, Tahoma; font-size: 17px; font-weight: bold; text-decoration: none }
.TitlesBeechworth { color: #691A27; font-family: Verdana, Arial, Geneva, Tahoma; font-size: 17px; font-weight: bold; text-decoration: none }
.TitlesBendigo { color: #2E9EAA; font-family: Verdana, Arial, Geneva, Tahoma; font-size: 17px; font-weight: bold; text-decoration: none }
.TitlesHumanities { color: #355683; font-family: Verdana, Arial, Geneva, Tahoma; font-size: 17px; font-weight: bold; text-decoration: none }
.TitlesLawManag { color: #00962D; font-family: Verdana, Arial, Geneva, Tahoma; font-size: 17px; font-weight: bold; text-decoration: none }
.TitlesMtbuller { color: #00986F; font-family: Verdana, Arial, Geneva, Tahoma; font-size: 17px; font-weight: bold; text-decoration: none }

.navtext2 {font-size: 10px; font-family:  Verdana, Arial, Helvetica, Sans-Serif; color: Black; font-weight: Bold; text-decoration: None;}
.navtext2:link {font-size: 10px; font-family:  Verdana, Arial, Helvetica, Sans-Serif; color: Black; font-weight: Bold; text-decoration: None;}
.navtext2:active {font-size: 10px; font-family:  Verdana, Arial, Helvetica, Sans-Serif; color: Black; font-weight: Bold; text-decoration: None;}
.navtext2:visited {font-size: 10px; font-family:  Verdana, Arial, Helvetica, Sans-Serif; color: Black; font-weight: Bold; text-decoration: None;}
.navtext2:hover {font-size: 10px; font-family: Verdana, Arial, Helvetica, Sans-Serif; color: Red; font-weight: Bold; text-decoration: None;}
.navtext {font-size: 10px; font-family:  Verdana, Arial, Helvetica, Sans-Serif; color: White; font-weight: Bold; text-decoration: None;}
.navtext:link {font-size: 10px; font-family:  Verdana, Arial, Helvetica, Sans-Serif; color: White; font-weight: Bold; text-decoration: None;}
.navtext:active	{font-size: 10px; font-family:  Verdana, Arial, Helvetica, Sans-Serif; color: White; font-weight: Bold; text-decoration: None;}
.navtext:visited {font-size: 10px; font-family:  Verdana, Arial, Helvetica, Sans-Serif; color: White; font-weight: Bold; text-decoration: None;}
.navtext:hover {font-size: 10px; font-family: Verdana, Arial, Helvetica, Sans-Serif; color: Red; font-weight: Bold; text-decoration: None;}

.homemenu {font-size: 10px; font-family:  Verdana, Arial, Helvetica, Sans-Serif; color: Black; font-weight: Bold; text-decoration: None;}
.homemenu:link {font-size: 10px; font-family:  Verdana, Arial, Helvetica, Sans-Serif; color: Black; font-weight: Bold; text-decoration: None;}
.homemenu:active {font-size: 10px; font-family:  Verdana, Arial, Helvetica, Sans-Serif; color: Black; font-weight: Bold; text-decoration: None;}
.homemenu:visited {font-size: 10px; font-family:  Verdana, Arial, Helvetica, Sans-Serif; color: Black; font-weight: Bold; text-decoration: None;}
.homemenu:hover {font-size: 10px; font-family:  Verdana, Arial, Helvetica, Sans-Serif; color: Red; font-weight: Bold; text-decoration: None;}

.LinkCopyright { color: Black; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 10px; font-style: italic}
.LinkCopyright:link { color: Black; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 10px; font-style: italic}
.LinkCopyright:active { color: Black; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 10px; font-style: italic}
.LinkCopyright:visited { color: Black; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 10px; font-style: italic}
.LinkCopyright:hover { color: #666666; font-family: Verdana, Geneva, Tahoma, Arial; font-size: 10px; font-style: italic}

input.search {color: White; background-color: Black; font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 10px; border-style: solid; border-color: Black; font-weight: Bold;}

input.search:hover {color: Red; background-color: Black; font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 10px; border-style: solid; border-color: Black; font-weight: Bold;}

.TitlesBanner { font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-variant: normal; font-weight: lighter}